body {
    margin: 0;
}

h1 {
    margin: 0;
}

header {
    background-color: #DDDDDD;
    padding: 2px;
}

#content {
    padding: 20px 10px;
}

#form {
    background-color: #EEEEEE;
    padding: 7px;
}